<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Natural Language Processing Project</title>
    </head>

    <body>

        <header>
            <div class="">
                NLP
            </div>
   
        </header>

        <main>
            
            <section>
                <h1>Natural Language Processing Project</h1>
                <div class="overview">Please Enter a URL address</div>
                <form onsubmit="return Client.handleSubmit(event)">
                    <input id="text" type="text" name="input" value="" placeholder="https://www.webpage.com/" onblur="Client.onBlur()">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            <section>

            <section>
                <p class="form-results">Form Results:</p>
                <div id="results"></div>
            </section>
        </main>

        <footer>
            <p>© 2020, Natural Language Processing Project.</p>
        </footer>

    </body>
</html>
