body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: $bodyFont;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
}

h1 {
    font-size:20px;
    margin-bottom:20px;
}
.overview {
    margin-bottom:10px;
}