form {
    border: 1px solid $darkGray ;
    border-radius: 3px;
    padding: 40px;
}

input {
    font-size:18px;
    padding: 10px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;

    &[type="submit"] {
        background-color: $lightGray;
        border: 1px solid $darkGray;
    }
    &[type="submit"]:hover {
        background-color: $lightGrayHover;
    }
}

#error {
    color: $red;
}
.form-results {
    font-weight:600;
    font-size: 18px;
    margin-bottom:10px;
}
#results p {
    font-size: 16px;
    font-weight:600;
    line-height:2;
    color: $green;
}
